.very-small-icon{
    width: 18px;
    height: 14px;
}

.small-icon {
    width: 18px;
    height: 18px;
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.shadow-default {
    box-shadow: 0 0 1px 0 oklch(from var(---color-text) l c h / 15%);
}

.menu {
    height: calc(var(--spacing) * 25);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 4);
    backdrop-filter: blur(1px);

}

#icon-menu {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:6px;

}

.line-1, .line-2, .line-3 {
    background: oklch(from var(--color-text) l c h / 60%);
    height: 1px;
    width: 80%;
    transition: transform 1000ms ease-in-out, position 300ms ease;
    animation: expandWidth ease-in-out 1000ms;
    border-radius: 1px;
}

#icon-moon {

    stroke-dashoffset: 60;
    stroke-dasharray: 60;
    animation: spawnTopToBottom cubic-bezier(0.33, 0, 0.9, 1) 500ms, draw 1000ms ease forwards, fadeIn 500ms ease ;

}

#icon-sun {
    animation: spawnBottomfromTop ease-out 1000ms;
}

#icon-sun path{
    stroke-dasharray: 2;
    stroke-dashoffset: 2;
    animation: draw ease 1000ms forwards;
}

#icon-sun circle {
    stroke-dasharray: 24.5;
    stroke-dashoffset: 24.5; 
    animation: draw ease 1000ms forwards;
}

#icon-moon:hover, #icon-sun:hover {
    color: oklch(from var(--color-text) l c h / 80%);
}

#icon-menu:hover * {
    background: oklch(from var(--color-text) l c h / 80%);
}

.dropdown-menu {
    z-index: 10;
    border-top: solid 1px var(--color-shadow);
    border-bottom: solid 1px var(--color-shadow);
    animation: expandHeight 500ms ease both;    
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    padding-block:calc(var(--spacing)*4);
    height: max-content;
    background: var(--color-background);
}
.dropdown-menu li {
    padding-block: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dropdown-menu li:hover {

    color: oklch(from var(--color-text) l c h / 50%)
}

.profile-name-content {
    gap:calc(var(--spacing) * 2);
    letter-spacing: 4px;
   

}

.profile-name-description {
    box-shadow: var(--shadow-accent);
    border-radius: var(--default-radius);
    height: calc(var(--spacing) * 5);
    width: 100%;
}

.item-btns-menu-container {

    display: flex;
    flex-direction: row;
    gap: calc((var(--spacing) * 4));

}

.icon-text-container {
    display: flex;  
    flex-direction: row;
    gap:calc(var(--spacing)*2);
    justify-content: start;
    align-items: center;
    height: var(--height-xs);
}


.deploy-panel-container {
    display: flex;
    flex-direction: column;
    gap:calc(var(--spacing) * 2);

    box-shadow: var(--default-shadow);
    border-radius: var(--default-radius);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 4);
    background: var(--color-secondary);
}


.deploy-preview-content {

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--default-shadow);
    width: 100%;
    height: 150px;
    background: linear-gradient(135deg, var(--color-secondary) 0%, oklch(from var(--color-background) calc(l + 0.01) c h) 66%, var(--color-secondary));
}

.btn-deploy {
    margin-left: auto;
    width: calc(var(--spacing)*25);
    background: var(--color-text);
    color:var(--color-background);
    padding-inline: calc(var(--spacing) * 8);
    padding-block: var(--spacing);
    border-radius: var(--spacing);
    font-weight: 700;
}

.btn-deploy svg {
    width: 16px;
    height: 16px;
}
.btn-deploy svg, .btn-deploy svg path {
    color: var(--color-backgroud);
}

.btn-deploy:hover:not(.disabled) {
    background: oklch(from var(--color-text) calc(l + 0.1) c h);
}

#build-logs-container {
    padding:calc(var(--spacing)*2);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:calc(var(--spacing)*2);
    background: var(--color-secondary);
    border-radius: var(--default-radius);
    box-shadow: var(--default-shadow);
}

#build-logs-container li {
    width: 100%;
    min-height:var(--height-xs);
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing)*2);
}

#build-log-content{
    border-radius: var(--default-radius);
    padding: calc(var(--spacing)*4);
    margin: var(--spacing);
    background-color: black;

}

#root {
    max-width: calc(var(--spacing)*200);
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap:calc(var(--spacing)*4)
}

.hook-button {
    width: 100%;
}

.hook-button:hover{
    text-decoration: underline;
}


.hook-button:hover svg {
     color:var(--color-text);
}
.folders-title {
    margin-top: calc(var(--spacing)*6);
    text-align: center;
    letter-spacing: var(--spacing);
    font-size: var(--text-sm);
}

.folders-content {
    padding:calc(var(--spacing)*4);
    font-weight: 400;
}

.folders-content svg {
    width: 18px;
    height: 18px;
}

.folders-content > li {
    min-height: calc(var(--spacing) * 8);
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-block:calc(var(--spacing)*2);
    border-style: solid;
    border: 1px solid var(--color-shadow);
    border-top: none;
    border-inline: none;
    border-width: 1px;
}


.folder-title {
    font-weight: 400;
    letter-spacing: var(--spacing);
    font-size: var(--text-xs);
}

.folder-content {
    padding: calc(var(--spacing)*4);
    display: flex;
    flex-direction: column;
    gap:calc(var(--spacing)*4)
}

 #contact.folder-content {
    align-items: center;
  }

.introduction-about-me-content {

  padding-block: calc(var(--spacing)*2);
  display: flex;
  flex-direction: column;
  gap:calc(var(--spacing)*2);

}

.introduction-about-me-content li > p::before {
    content: "➣ ";
}


.project-content {

    display: flex;
    flex-direction: column;
    gap:calc(var(--spacing)*4);
}

.project-item {
    display: flex;
    flex-direction: column;
    gap:calc(var(--spacing)*4);
    word-wrap: break-word;
}

.project-item video {
    display: block;
    width: 100%;
    max-width: calc(var(--spacing)*100);
    border-radius: var(--default-radius);
    box-shadow: var(--default-shadow);  
    object-fit: cover;
}

.project-item-links-content {
    width: 100%;
    height: var(--height-xs);
}


.stack-content {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing)*65), 1fr));
    gap:calc(var(--spacing)*4);

}


.stack-item  {
    box-shadow: var(--default-shadow);
    display: flex;
    height: calc(var(--spacing)*50);
    flex-direction: column;
    padding-block: calc(var(--spacing)*4);
    padding-inline: calc(var(--spacing)*6);
    border-radius: var(--default-radius);
    gap:calc(var(--spacing)*2);
}

.stack-item-title {
    letter-spacing: 4px;
    font-weight: 700;
}

.icon-text-container:has(.stack-item-title) {
    height: 36px;
    border-bottom: solid 1px var(--color-shadow);
}

.form-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--height-xs);
}

.default-field {
    display: inline-block;
    position: relative;
}

.default-title-input {
    text-wrap: nowrap;
    position: absolute;
    top:-2px;
    font-size: var(--text-small);
    background:var(--color-background);
    padding-inline: 4px;
    color: oklch(from var(--color-text) l c h / 60%);
    left: 50%;
    transform: translate(-50%, -50%);
}

.default-input {
    box-shadow:var(--default-shadow);
    padding-inline: calc(var(--spacing)*2);
    height: var(--height-xs);
}

.contact-input {

    border-end-end-radius: 0!important;
    border-start-end-radius: 0!important;
    border-inline-end: none;
}

.btn-contact {
    background: var(--color-primary);
    color: var(--color-background);
    font-weight: 700;
    font-size: var(--text-xs);
    border-end-start-radius: 0 !important;
    border-start-start-radius: 0 !important;
    border-radius: var(--spacing);
    height: calc(100%);
    padding-inline: calc(var(--spacing)*2);
}

.btn-contact:hover {

    background: oklch(from var(--color-text) calc(l + 0.1) c h);

}

.social-medias-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:calc(var(--spacing)* 4)
}

.social-medias-content:has(.icon-text-container) .icon-text-container {
    gap:var(--spacing)
}
/* Cada container individual dos links (github e linkedin) */
.social-medias-content:has(.icon-text-container) .icon-text-container:hover {
    color:oklch(from var(--color-text) calc(l + 0.2) c h);
}
/* O ícone dentro de cada link de rede social (github e linkedin) */
.social-medias-content:has(.icon-text-container) .icon-text-container:hover svg  path{
    fill:oklch(from var(--color-text) calc(l + 0.2) c h);
}



.curiosities-content {
  padding-block: var(--spacing);
}

.curiosities-content li > p::before {
    content: "➣ ";
}


.btn-expand-all {
    padding-inline: calc(var(--spacing)*1);
    margin-left: auto;
    margin-bottom: 100px;
    font-size: var(--text-xs);
    width: max-content;
    font-weight: 500;
    letter-spacing: var(--spacing);
}