.rotate-90 {
    transform: rotate(90deg);
}

.hidden {
    display: none;
}

.absolute-center {

    position: absolute;
    top:50%;
    left: 50%;
    transform: tarn;

}

.disabled {

    opacity: 70%;

}

.info {
    color: var(--color-text);
}

.success {
    color:var(--color-success);
}

.error {
    color:var(--color-error)

}

.animate-spin {
    animation: spin infinite 800ms ease-in-out;
}